a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
body {
  background-image: url("../../assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  background-color: aqua;
}
a:hover {
  text-shadow: 2px 2px 8px red;
}
.profile-pic {
  border: solid 3px black;
  border-radius: 50%;
}
.profile-title {
  font-size: 20px;
  text-align: center;
}
.profile-name {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
